<div class="banner" style="background-image: url(<%= image_path 'balloons.jpg'%>);">
  <div class="banner-content">
    <div class="search_bar">
      <h3 class="search-bar-header">Discover the perfect party location in your city</h3>
    </div>

    <%= form_tag locations_path, method: :get do %>
      <div class="form-input-wrapper">
        <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Find a Location"%>
        <%= submit_tag 'Go', class: "button_submit" %>
      </div>
    <% end %>

  </div>
</div>
