<div class="banner" style="background-image: url(<%= image_path 'balloons.jpg'%>);">
  <div class="banner-content">
    <div class="search_bar">
      <h2>Discover the perfect party location in your city</h2>
    </div>

    <%= form_tag locations_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a Location"%>
      <%= text_field_tag :query_1, params[:query_!], class: "form-control", placeholder: "Size"%>
    <% end %>

  </div>
</div>
