
.header h2 {
  color: grey;
  text-align: center;
  margin-top: 40px;
  position: sticky !important;

}

.header p {
  color: grey;
  text-align: center;
  margin-bottom: 30px;
  position: sticky !important;
}
