
.header h2 {
  // color: grey;
  color: #5FCC9C;
  text-align: center;
  margin-top: 40px;
  position: sticky !important;

}

.header p {
  // color: grey;
  color: #5FCC9C;
  text-align: center;
  margin-bottom: 20px;
  position: sticky !important;
}
