#id {
  background-color: #5FCC9C;
}

#filter-container {

  display: inline;


}

#filter-button {
  color: #5FCC9C;

}

#filter-component {
  // background-color: #5FCC9C;
  // color: white;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 5;


}
