.search-bar-header {
  padding: 10px;
}

.search_bar {
  background-color: #5FCC9C;
  color: white;
  text-align: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-input-wrapper {
  display:flex;
  align-items: center;
}

.button_submit {
  width: 85px;
  height: 39px;
  background-color: #3C91E6;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 8px;
}

