<%# raise %>

<h2> Select an available date for <%= @location.name %></h3>
<div class="container">
  <%= simple_form_for([:users, @avail], url: users_create_booking_path, method: :post) do |f| %>
  <%= f.input :date, collection: @avails_dates %>
  <%= f.submit :"Book Now" %>
  <% end %>
</div>
