<!-- show all bookings (i.e. availabilities with current_user id assigned) the current user has made -->



<div class="container">
  <div class="row">
    <h2>Booking Overview</h2>
    <br>
  </div>
  <div class="row">
    <% if @avails.length == 0 %>
      <h3>You have no bookings yet</h3>
      <br>
      <%= link_to "See what's on offer!", locations_path, class: "btn btn-primary" %>
    <% end %>
  </div>


<%= render "shared/offer" %>
