<!-- show all locations (grid view) -->

<h1>hello</h1>

<% @avail.each do |a| %>
<h1> <%= a.location.name %> <%= a.user.first_name %> </h1>
<%= link_to "Book the location", users_book_path(a.id) %>
<% end %>
