<!-- show details of one single location -->
  <div class="grid-details">

    <div class="details-image"></div>
    <div class="location-description">
      <h3><%= @location.name %></h3>
      <p><%= @location.description %></p>
    </div>
  </div>
</div>

<% if @location.user_id == current_user.id %>
 <%=  link_to "Edit your Location", edit_users_location_path(@location), class: "btn btn-primary" %>
<% else %>
 <%=  link_to "Book now", users_book_path(@location), class: "btn btn-primary" %>
<% end %>
